body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    user-select: none;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}
.scrollbar-wrapper {
    overflow-x: hidden !important;
}

// placeholder css
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
    font-size: 13px;
  }
input:focus::-webkit-input-placeholder {
    color: transparent;
}
ul,li,p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
