.slide-enter-active,.slide-leave-active {
  transition: all .2s ease-out;
}

.slide-enter, .slide-leave-active {
//   transform: translateY(20px);
  opacity: 0;
}
// login
.slide-top-enter-active,.slide-top-leave-active  {
  transition: all .3s ease;
}
.slide-top-enter, .slide-top-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}


.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-10px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

// userinfo-detail
.slide-left-enter-active,.slide-left-leave-active  {
  transition: all .3s ease;
}
.slide-left-enter {
  transform: translateX(-30px);
  opacity: 0;
}
.slide-left-leave-to{
  opacity: 0;
}


// open player transition
.slide-bottom-enter-active,
.slide-bottom-leave-active {
    transition: all 0.3s linear;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
    opacity: 0;
    transform: translateY(100vh);
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.3s linear;
}
.slide-right-enter,
.slide-right-leave-to {
    opacity: 0;
    transform: translateX(250px);
}
//

.slide--left-enter-active,
.slide--left-leave-active {
    transition: all 0.5s;
}
.slide--left-enter {
    opacity: 0;
    transform: translateX(-10px);
}
.slide--left-leave-to {
  opacity: 0;
  transform: translateX(10px);
}