<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p @click="handleClick">
            {{sum}}
        </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
     new Vue({
            el: "#app",
            data: {
                num1: 1,
                num2: 3
            },
          /*computed：计算*/
            computed: {
                sum: {
                    get() {
                        return this.num1 + this.num2
                    },
                    set(value) {
                        // this.num1 = value
                        // this.num2 = value
                        var arr = value.split(" ");
                        console.log(arr)
                        this.num1 = arr[0] + "num2";
                        // this.num2 = arr[1];
                    }
                }
            },
            methods: {
                handleClick() {
                    this.sum = 'name';
                }
            }
        })
 
</script>
</body>
</html>
